# Final Project: Analyzing International Trade Data

**Project Overview:**


You are provided with a dataset that contains export/import data over several years, broken down by country. Your task is to clean, analyze, and visualize this data to provide insights into global trade patterns.

**Tasks:**

- **Data Cleaning and Preparation:**

    - *Extract and Rename Columns:*
        Identify the relevant columns that represent the actual data.
        Rename the columns appropriately (e.g., Country, Year_2008_2009, Year_2009_2010, etc.).

    - *Handle Missing Values:*
        Identify and appropriately handle any missing values in the dataset.

    - *Convert Data Types:*
        Convert columns to appropriate data types, such as converting numeric columns from strings to floats or integers.


- **Exploratory Data Analysis (EDA):**

    - *Summary Statistics:*
        Generate summary statistics for the dataset, such as mean, median, and total exports for each year.

    - *Top 10 Exporting Countries:*
        Identify the top 10 exporting countries for each year based on total export values.
    - *Growth Rate Analysis:*
        Calculate the year-over-year growth rate for each country and identify the countries with the highest growth.

- **Data Visualization:**

    - *Bar Charts:*
        Create bar charts to visualize the top 10 exporting countries for a selected year.
    - *Line Charts:*
        Create line charts to show the export trends over time for selected countries.
    - *Heatmaps:*
        Generate a heatmap to show the correlation between different years' export data.

- **Custom Functions:**

    - *Data Aggregation:*
        Write a function to aggregate data for a given list of countries and return the total exports over the specified period.
    - *Country Comparison:*
        Write a function that  compares the export growth of two selected countries over the years.



- **Report:**

    Prepare a report summarizing your findings, including tables and charts.

- **Conclusions:**

    Provide insights and recommendations based on the data analysis. What do the trends suggest about global trade?


**Deliverables:**

- **Cleaned Dataset:**
    The final cleaned and processed dataset should be submitted as a CSV file.

- **Python Code:**
    Submit the Python code used for data cleaning, analysis, and visualization. Ensure that the code is well-commented.

- **Report:**
    A PDF report summarizing your analysis, findings, and any recommendations.

- **Presentation (Optional):**
    A brief presentation (e.g., PowerPoint) highlighting the key points of your analysis.

In [2]:
import pandas as pd

# Load the dataset
file_path = 'exportall 2009 - 2025.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
df.head()

,Department of Commerce,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,Export Import Data Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Export :: Country-wise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S.No.,Country,2008-2009,%Share,2009-2010,%Share,2010-2011,%Share,2011-2012,%Share,...,2020-2021,%Share,2021-2022,%Share,2022-2023,%Share,2023-2024,%Share,2024-2025,%Share
3,1,AFGHANISTAN,"1,82,344.16",0.2169,"2,20,362.72",0.2606,"1,92,084.44",0.1689,"2,42,911.61",0.1657,...,"6,10,620.02",0.2828,"4,12,904.21",0.1312,"3,49,497.81",0.0965,"2,94,271.23",0.0813,"52,978.61",0.0847
4,2,ALBANIA,"5,589.70",0.0066,"4,027.54",0.0048,"5,227.48",0.0046,"6,067.02",0.0041,...,"34,619.48",0.016,"41,040.28",0.013,"2,82,091.42",0.0779,"9,55,574.35",0.264,"10,652.75",0.017

In [3]:
# Remove unnecessary header rows and keep only the relevant data starting from row index 2
df_cleaned = df[2:].reset_index(drop=True)

# Set the first row as the header
df_cleaned.columns = df_cleaned.iloc[0]
df_cleaned = df_cleaned[1:].reset_index(drop=True)

# Rename columns for better readability
df_cleaned = df_cleaned.rename(columns={
    'S.No.': 'S.No', 
    'Country': 'Country'
})

# Removing commas from the export data and converting them to numeric
for col in df_cleaned.columns[2:]:
    df_cleaned[col] = df_cleaned[col].replace({',': ''}, regex=True)
    if 'Share' not in col:  # Exclude percentage share columns from conversion
        df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')

# Display the cleaned dataset to verify the changes
df_cleaned.head()

,S.No,Country,2008-2009,%Share,2009-2010,%Share,2010-2011,%Share,2011-2012,%Share,...,2020-2021,%Share,2021-2022,%Share,2022-2023,%Share,2023-2024,%Share,2024-2025,%Share
0,1,AFGHANISTAN,182344.16,0.2169,220362.72,0.2606,192084.44,0.1689,242911.61,0.1657,...,610620.02,0.2828,412904.21,0.1312,349497.81,0.0965,294271.23,0.0813,52978.61,0.0847
1,2,ALBANIA,5589.70,0.0066,4027.54,0.0048,5227.48,0.0046,6067.02,0.0041,...,34619.48,0.016,41040.28,0.013,282091.42,0.0779,955574.35,0.264,10652.75,0.017
2,3,ALGERIA,299636.27,0.3564,273710.63,0.3237,355787.00,0.3129,399229.96,0.2723,...,439809.69,0.2037,523800.52,0.1664,493476.51,0.1363,702538.33,0.1941,119885.96,0.1916
3,4,AMERI SAMOA,58.26,0.0001,40.45,0,92.93,0.0001,975.04,0.0007,...,433.28,0.0002,578.07,0.0002,22.64,0,3440.25,0.001,814.21,0.0013
4,5,ANDORRA,412.37,0.0005,96.49,0.0001,120.35,0.0001,125.48,0.0001,...,15.16,0,36.80,0,181.19,0.0001,262.29,0.0001,NaN,NaN

In [4]:
# Check for missing values in the dataset
missing_values_summary = df_cleaned.isnull().sum()

# Display columns with missing values
missing_values_summary[missing_values_summary > 0]

0
S.No          5
Country       5
2008-2009     7
%Share        8
2009-2010     8
%Share        9
2010-2011     8
%Share        8
2011-2012     8
%Share        8
2012-2013     8
%Share        8
2013-2014     6
%Share        6
2014-2015     8
%Share        8
2015-2016    10
%Share       10
2016-2017     8
%Share        8
2017-2018     3
%Share        3
2018-2019     8
%Share        8
2019-2020     2
%Share        2
2020-2021     8
%Share        8
2021-2022    11
%Share       11
2022-2023     6
%Share        6
2023-2024     8
%Share        8
2024-2025    14
%Share       14
dtype: int64

In [5]:
# Fill missing values with 0 for both export values and percentage shares
df_cleaned.fillna(0, inplace=True)

# Verify that there are no more missing values
missing_values_after_fill = df_cleaned.isnull().sum().sum()

missing_values_after_fill

np.int64(0)